name: Publish Static Web App to Azure Blob Storage

on: pull_request

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repo
      uses: actions/checkout@v1
    - name: Install npm packages
      shell: bash
      run: |
        npm install

    - name: Build app
      shell: bash
      run: |
        npm run build

    - name: Test app
      shell: bash
      run: |
        npm run test